body {
    font-size: 18px;
    background: url("images/bg-hero-desktop.svg");
    background-repeat: no-repeat;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.logo  {
    width: 450px;
    padding-right: 100px;

}

.nav-btn {
    width: 450px;
}

.nav-btn {
    height: 45px;
    background-color: white;
    border-radius: 50px;
    width: 200px;
    
}

.flex-container-2 {
    display: flex;
    justify-content: space-around;
    margin-top: 160px;
    flex-wrap: wrap;
    
}

.flex-container-2 > div {
    margin: 60px;
    width: 450px;
}

.info {
    width: 50%;
    margin-left: 100px;
}


.info button {
    border-radius: 50px;
    width: 200px;
    background-color: deeppink;
    border: none;
    box-shadow: 2px 2px 5px gray;
    padding: 16px;
    margin-top: 18px;
}

.img-holder {
    width: 50%;
    
}

.img-holder img {
    max-width: 100%;
}

.section-1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid gray;
    box-shadow: 2px 2px 4px gray;
    height:auto;
    width: 80%;
    border-radius: 12px;
    margin: 60px auto;
    align-items: center;

}

.section-1 > div {
    margin: 60px;
    width: 450px;
}

.grow {
    width: 50%;
}

.grow-image {
    width: 50%;
}

.grow-image img {
    max-width: 100%;
}

@media screen and (max-width:550px) {
    .grow {
    order:1;
           
    }
    
}

